<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
 <% const name = "JOHN DOE" %>
   <div class="site-title">
    <h1> <%= name %> </h1>
        <a href="/"><h1>Blog</h1></a>
        <p>A Blog Site</p>
    </div>

        <%- include("./partials/nav.ejs") %>
   

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
        
        <% blogs.forEach(blog => { %>
            <h4><%= blog.title %> </h4>
            <p><%= blog.snippet %> </p>
        <% }) %>
        <% } else { %>
        <h4> Blog not found :) </h4>
        <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>

</html>